<%= form_for(@ripple) do |f| %>
  <% if @ripple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ripple.errors.count, "error") %> prohibited this ripple from being saved:</h2>

      <ul>
      <% @ripple.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Enter your name or alias here (required)" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :"Enter your/any website here (optional)" %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :"What do you have to say? (required)"%><br>
    <%= f.text_area :message, rows: 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
